@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600");
@import url("fontawesome-all.min.css");

html,
body {
  margin: 0px;
  padding: 0px;
}

.projects:hover {
  box-shadow: 20px 20px 10px grey;
}

.techstack {
  height: 70px;
  width: 70px;
}

.techstack + figcaption {
  padding: 10px;
}

#header {
  border: none;
  background: transparent;
  width: 30%;
  height: 440px;
  top: 300px;
  position: absolute;
  text-align: center;
  color: white;
  left: 35%;
}

